<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>neon-playground.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>neon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>neonMessage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>neonSiri.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>neonToday.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>neonWatch (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>neonWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>230D099F224E7F4300C103CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2338BEB7220A7840004F288F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2338BECE220A7841004F288F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2338BED9220A7841004F288F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2395A94B224AE1750007D6F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2395A964224AE78C0007D6F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
